li {
  list-style: none;
}

.name-inputs {
  width: 30%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 90%;
}

.box {
  width: auto;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 20%;
}

#formm.sub {
  width: 10%;
  margin-right: 320px;
  cursor: pointer;
}

#formm div {
  width: 10%;
  position: relative;
  left: 57%;
}

#formm div .sub:hover {
  border: 1px solid black;
  box-shadow: 1px 2px;
  transform: scale(1.01);
  transition: 100ms;
}